@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "Monthavy";
  src: url("/font/Mont-HeavyDEMO.otf");
}

@font-face {
  font-family: "Monthavy-extralight";
  src: url("/font/Mont-ExtraLightDEMO.otf");
}

@font-face {
  font-family: "MontsemiBold";
  src: url("/font/Mont-SemiBold.otf");
}

@font-face {
  font-family: "MontBold";
  src: url("/font/Mont-Bold.otf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
